netVenv/ 
.vscode
scapy/src/
*/*.dump
*/*.pcap
*/extracted_data
HPSR/*/extracted_data
HPSR/*/mawi_graphs/
scapy/practice/*.dump
scapy/practice/*.pcap
scapy/thesis_work/*.csv
/*.csv
netvenv2/
/objective
/pyshark
/scapy
